In [51]:
import pandas as pd

# Reading the dataset and displaying the labels

In [52]:
labels = pd.read_csv('styles.csv', on_bad_lines="skip")
labels

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [53]:
labels = labels.drop(columns=['year'])
labels

,id,gender,masterCategory,subCategory,articleType,baseColour,season,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,Casual,Gas Men Caddy Casual Shoe
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,Casual,Lotto Men's Soccer Track Flip Flop
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,Casual,Puma Men Graphic Stellar Blue Tshirt
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,Casual,Rasasi Women Blue Lady Perfume
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

**Displaying the list of subcategories**

In [54]:
labels['subCategory'].value_counts()

subCategory
Topwear                     15402
Shoes                        7343
Bags                         3055
Bottomwear                   2694
Watches                      2542
Innerwear                    1808
Jewellery                    1079
Eyewear                      1073
Fragrance                    1011
Sandal                        963
Wallets                       933
Flip Flops                    913
Belts                         811
Socks                         698
Lips                          527
Dress                         478
Loungewear and Nightwear      470
Saree                         427
Nails                         329
Makeup                        307
Headwear                      293
Ties                          258
Accessories                   129
Scarves                       118
Cufflinks                     108
Apparel Set                   106
Free Gifts                    104
Stoles                         90
Skin Care                      77
Skin                           69
Eyes                           43
Mufflers                       38
Shoe Accessories               24
Sports Equipment               21
Gloves                         20
Hair                           19
Bath and Body                  12
Water Bottle                    7
Perfumes                        6
Umbrellas                       6
Beauty Accessories              4
Wristbands                      4
Sports Accessories              3
Home Furnishing                 1
Vouchers                        1
Name: count, dtype: int64

**Removing unnecessary labels**

In [55]:
# list of subcategories to be removed
category_toremove = ['Watches', 'Innerwear', 'Jewellery', 'Eyewear', 'Wallets', 'Belts', 'Socks', 'Loungewear and Nightwear', 'Headwear', 'Accessories', 'Scarves', 'Ties', 'Fragrance','Lips','Nails', 'Makeup', 'Cufflinks', 'Apparel Set', 'Free Gifts', 'Stoles', 'Skin Care', 'Skin', 'Eyes', 'Mufflers', 'Shoe Accessories', 'Sports Equipment', 'Gloves', 'Hair', 'Bath and Body', 'Water Bottle', 'Perfumes', 'Umbrellas', 'Beauty Accessories', 'Wristbands', 'Sports Accessories', 'Home Furnishing', 'Vouchers', 'Saree']

selected_subcategory_labels = labels[~labels['subCategory'].isin(category_toremove)]
selected_subcategory_labels

,id,gender,masterCategory,subCategory,articleType,baseColour,season,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,Casual,Peter England Men Party Blue Jeans
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,Casual,Inkfruit Mens Chain Reaction T-shirt
...,...,...,...,...,...,...,...,...,...
44417,12544,Women,Apparel,Topwear,Tshirts,Peach,Fall,Casual,Tantra Women Printed Peach T-shirt
44418,42234,Women,Apparel,Topwear,Tops,Blue,Summer,Casual,Sepia Women Blue Printed Top
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,Casual,Gas Men Caddy Casual Shoe
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,Casual,Lotto Men's Soccer Track Flip Flop
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,Casual,Puma Men Graphic Stellar Blue Tshirt

**Displaying the updated list of subcategories**

In [56]:
selected_subcategory_labels['subCategory'].value_counts()

subCategory
Topwear       15402
Shoes          7343
Bags           3055
Bottomwear     2694
Sandal          963
Flip Flops      913
Dress           478
Name: count, dtype: int64

**Moving 'Flip Flops' and 'Sandal' to the 'Shoes' subcategory**

In [57]:
selected_subcategory_labels.loc[selected_subcategory_labels['subCategory'] == 'Flip Flops', 'subCategory'] = 'Shoes'
selected_subcategory_labels.loc[selected_subcategory_labels['subCategory'] == 'Sandal', 'subCategory'] = 'Shoes'

**Displaying the updated list of subcategories**

In [58]:
selected_subcategory_labels['subCategory'].value_counts()

subCategory
Topwear       15402
Shoes          9219
Bags           3055
Bottomwear     2694
Dress           478
Name: count, dtype: int64

**Displaying the list of article types**

In [59]:
selected_subcategory_labels['articleType'].value_counts()

articleType
Tshirts               7066
Shirts                3217
Casual Shoes          2845
Sports Shoes          2036
Kurtas                1844
Tops                  1762
Handbags              1757
Heels                 1323
Flip Flops             914
Sandals                897
Backpacks              722
Formal Shoes           637
Jeans                  609
Shorts                 545
Trousers               530
Flats                  500
Dresses                464
Track Pants            304
Clutches               289
Sweatshirts            285
Sweaters               277
Jackets                258
Kurtis                 234
Tunics                 229
Leggings               177
Capris                 175
Skirts                 128
Dupatta                116
Duffel Bag              88
Laptop Bag              81
Sports Sandals          67
Mobile Pouch            47
Suspenders              40
Patiala                 38
Messenger Bag           34
Jeggings                34
Stockings               32
Salwar                  32
Churidar                30
Tracksuits              29
Rain Jacket             18
Waist Pouch             17
Jumpsuit                16
Waistcoat               15
Swimwear                13
Rompers                 12
Rucksacks               11
Tights                   9
Blazers                  8
Salwar and Dupatta       7
Shrug                    6
Nehru Jackets            5
Lehenga Choli            4
Tablet Sleeve            3
Trolley Bag              3
Belts                    3
Wallets                  2
Rain Trousers            2
Suits                    1
Travel Accessory         1
Name: count, dtype: int64

**Removing the unnecessary article types**

In [60]:
# list of articleTypes to be removed
articleType_toremove = ['Travel Accessory', 'Suits', 'Rain Trousers', 'Wallets', 'Belts', 'Trolley Bag', 'Tablet Sleeve', 'Jumpsuit', 'Duffel Bag', 'Waist Pouch', 'Waistcoat', 'Suspenders', 'Rompers', 'Jeggings', 'Tracksuits', 'Stockings', 'Tights', 'Mobile Pouch', 'Lehenga Choli', 'Nehru Jackets', 'Shrug', 'Salwar and Dupatta', 'Kurtas', 'Sarees', 'Kurtis', 'Tunics', 'Dupatta', 'Patiala', 'Salwar', 'Churidar', 'Swimwear']

selected_articleType_labels = selected_subcategory_labels[~selected_subcategory_labels['articleType'].isin(articleType_toremove)]
selected_articleType_labels

,id,gender,masterCategory,subCategory,articleType,baseColour,season,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,Casual,Peter England Men Party Blue Jeans
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,Casual,Inkfruit Mens Chain Reaction T-shirt
...,...,...,...,...,...,...,...,...,...
44417,12544,Women,Apparel,Topwear,Tshirts,Peach,Fall,Casual,Tantra Women Printed Peach T-shirt
44418,42234,Women,Apparel,Topwear,Tops,Blue,Summer,Casual,Sepia Women Blue Printed Top
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,Casual,Gas Men Caddy Casual Shoe
44420,6461,Men,Footwear,Shoes,Flip Flops,Red,Summer,Casual,Lotto Men's Soccer Track Flip Flop
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,Casual,Puma Men Graphic Stellar Blue Tshirt

**Displaying the updated list of article types**

In [61]:
selected_articleType_labels['articleType'].value_counts()

articleType
Tshirts           7066
Shirts            3217
Casual Shoes      2845
Sports Shoes      2036
Tops              1762
Handbags          1757
Heels             1323
Flip Flops         914
Sandals            897
Backpacks          722
Formal Shoes       637
Jeans              609
Shorts             545
Trousers           530
Flats              500
Dresses            464
Track Pants        304
Clutches           289
Sweatshirts        285
Sweaters           277
Jackets            258
Leggings           177
Capris             175
Skirts             128
Laptop Bag          81
Sports Sandals      67
Messenger Bag       34
Rain Jacket         18
Rucksacks           11
Blazers              8
Name: count, dtype: int64

**Grouping some article types**

In [62]:
selected_articleType_labels.loc[selected_articleType_labels['articleType'] == 'Rucksacks', 'articleType'] = 'Backpacks'
selected_articleType_labels.loc[selected_articleType_labels['articleType'] == 'Rain Jacket', 'articleType'] = 'Jackets'
selected_articleType_labels.loc[selected_articleType_labels['articleType'] == 'Blazers', 'articleType'] = 'Jackets'
selected_articleType_labels.loc[selected_articleType_labels['articleType'] == 'Sports Sandals', 'articleType'] = 'Sandals'
selected_articleType_labels.loc[selected_articleType_labels['articleType'] == 'Messenger Bag', 'articleType'] = 'Laptop Bag'
selected_articleType_labels.loc[selected_articleType_labels['articleType'] == 'Sweatshirts', 'articleType'] = 'Sweaters'

**Displaying the updated list of article types**

In [63]:
selected_articleType_labels['articleType'].value_counts()

articleType
Tshirts         7066
Shirts          3217
Casual Shoes    2845
Sports Shoes    2036
Tops            1762
Handbags        1757
Heels           1323
Sandals          964
Flip Flops       914
Backpacks        733
Formal Shoes     637
Jeans            609
Sweaters         562
Shorts           545
Trousers         530
Flats            500
Dresses          464
Track Pants      304
Clutches         289
Jackets          284
Leggings         177
Capris           175
Skirts           128
Laptop Bag       115
Name: count, dtype: int64

**Displaying the final csv version after filtering**

In [64]:
selected_articleType_labels

,id,gender,masterCategory,subCategory,articleType,baseColour,season,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,Casual,Peter England Men Party Blue Jeans
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,Casual,Inkfruit Mens Chain Reaction T-shirt
...,...,...,...,...,...,...,...,...,...
44417,12544,Women,Apparel,Topwear,Tshirts,Peach,Fall,Casual,Tantra Women Printed Peach T-shirt
44418,42234,Women,Apparel,Topwear,Tops,Blue,Summer,Casual,Sepia Women Blue Printed Top
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,Casual,Gas Men Caddy Casual Shoe
44420,6461,Men,Footwear,Shoes,Flip Flops,Red,Summer,Casual,Lotto Men's Soccer Track Flip Flop
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,Casual,Puma Men Graphic Stellar Blue Tshirt

**Saving the filtered clothing dataset to a new csv to use for implementation**

In [65]:
selected_articleType_labels.to_csv('filtered_clothing.csv', index=False)